<main>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <div *ngIf="stockData" class="main-container">

    <div class="name-container">

      <span class="stock-name">{{stockData.full_name}}</span>

      <button name="add-stock-button" mat-icon-button (click)="handleFavorite()">
        <mat-icon>{{isInUserStock ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>

    </div>

    <div class="price-container">

      <span class="price">{{stockData.currency}} {{stockData.price}}</span>

      <div class="variation" [ngClass]="{'red': getPercentage() < 1, 'green': getPercentage() > 0}">
        <span>{{stockData.price - stockData.previous_close | number: '1.3-3'}}</span>
        <span>{{getPercentage() | number: '1.2-2'}} %</span>
      </div>

    </div>

    <div class="open-close">

      <section>
        <span>Précédente fermeture <b>{{stockData.previous_close | number: '1.3-3'}}</b></span>
      </section>

    </div>

    <div>

      <canvas baseChart
              [datasets]="datasets"
              [labels]="labels"
              [options]="options"
              [chartType]="'line'"></canvas>

    </div>

    <div>
      <mat-chip-list aria-label="Date ranges">
        <mat-chip *ngFor="let value of stockData.validRanges"
                  (click)="currentRange = value; rangeChanged()"
                  [selected]="value === currentRange">{{value}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="news-container">

      <mat-progress-bar mode="indeterminate" *ngIf="newsLoading"></mat-progress-bar>

      <section class="title">
        <b>News ({{news.length}})</b>
      </section>

      <section class="news-list">

        <div class="news" *ngFor="let n of news" (click)="redirectToNews(n)">

          <span class="title">{{n.title}}</span>

          <b>{{n.publisher}}</b>

          <span>{{getDate(n.providerPublishTime * 1000)}}</span>

          <mat-divider></mat-divider>

        </div>

      </section>

    </div>

  </div>
</main>
