<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-list>
  <mat-list-item *ngFor="let n of news">
    <div mat-line class="title">{{n.title}}</div>
    <div mat-line> {{n.author}} </div>
    <div mat-line> {{n.publishedAt | date: 'medium'}} </div>
    <div class="button-container">
      <img [src]="n.urlToImage" [alt]="n.title"/>
      <button mat-raised-button (click)="openArticle(n)">
        Lire l'article
      </button>
    </div>
  </mat-list-item>
</mat-list>
