footer {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
    padding: 10px;
    border-radius: 20px;
  }
}

mat-drawer {
  width: 20vw;
}

mat-drawer-content {
  width: 80vw;
  max-height: 100vh;
  background: rgb(44,48,62);
  background: linear-gradient(180deg, rgba(44,48,62,1) 0%, rgba(19,22,35,1) 100%);

  @media screen and (max-width: 1024px) {
    width: 100vw;
  }
}

mat-drawer-container {
  height: 100%;
}
