<main>

  <app-search-bar></app-search-bar>

  <div class="tabs">

    <mat-chip-list aria-label="Tab selection">
      <mat-chip *ngFor="let chip of chips; let i = index;"
                [selected]="chip.selected"
                (click)="chip.selected = !chip.selected; chipSelectedChanged(i)"
                color="primary">{{chip.label}}</mat-chip>
    </mat-chip-list>

    <mat-tab-group [selectedIndex]="selectedIndex">
      <mat-tab label="">
        <app-palmares></app-palmares>
      </mat-tab>
      <mat-tab label="">
        <app-palmares-dividends></app-palmares-dividends>
      </mat-tab>
    </mat-tab-group>

  </div>

</main>
