.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  mat-chip-list {
    background-color: #616161;
    border-radius: 16px;
  }

  mat-tab-group {
    width: 100%;
    margin-top: 15%;

    ::ng-deep mat-tab-header {
      display: none !important;
    }
  }
}
